<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Thymeleaf demo</title>
</head>

<body>

<div id="menu" th:insert="menu :: menu_fragment"></div>

<div class="container-fluid m-2">
    <form th:action="@{/article}" th:object="${article}" method="post">
        <div class="row align-items-center">
            <div class="col">
                <label for="exampleInputTitle" class="form-label">Title:</label>
                <input type="text" class="form-control" id="exampleInputTitle" th:field="*{title}">
            </div>
            <div class="col">
                <label for="exampleInputContent" class="form-label">Content:</label>
                <input type="text" class="form-control" id="exampleInputContent" th:field="*{content}">
            </div>
            <div class="col">
                <label for="exampleInputAuthor" class="form-label">Author:</label>
                <input type="text" class="form-control" id="exampleInputAuthor" th:field="*{author}">
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary mt-4">Submit</button>
            </div>
        </div>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>
</html>